* {
  box-sizing: border-box;
}
@media screen and (max-width: 480px) 
{   
    .landingMobilePage{
       height:1290px;
       width:100%;
    }
    .desktop{
        display:none;
    }
    .topHeader {
      position:relative;
      margin:auto;
      clear:both;
      width:100%;
      background:#192032;
      height:154px;
      transform:scale(1);
      box-shadow: 0px 0px 8px 2px #000000;
    }
    .landingPage{
       display:none;
    }
    .items {
      position:relative;
      float:left;
      margin:10px;
      font-size:25px;
      font-weight:normal;
      color:#fff;
      cursor:pointer;
      top:30px;
    }
    .menu{
      position:relative;
      float:left;
      margin:10px;
      color:#fff;
      z-index:20;
      top:-15px;
      
  }
  .bottom{
        display:none;
  }
  .footerHeaderMobile{
      position:relative;
      /*bottom:0px !important;*/
      clear:both;
      /*background:#AB1D24;*/
      width:370px!important;
      height:110px;
      margin:auto;
      top:50px;
  }
  .bottomMobile{
       position:relative;
       width:100%;
       bottom:0px !important;
       height:150px!important;
       margin:auto;
       background:#000;
  }
    
  .btnFooter{
     position:relative;
     float:left;
     height:33px;
     width:110px;
     margin:15px;
     cursor:pointer;
     background:#FA0202;
     border-radius:7px;
     padding-top:9px;
 }
 .logo{
     position:relative;
     margin:auto;
     width:400px;
      top:15px;
  }
  .logoSize{
      width:250px;
      height:67px;
  }
  .textMobileFont {
        font-weight: normal;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
        text-rendering: optimizeLegibility !important;
        -webkit-font-smoothing: antialiased !important;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size:12px;
        color:#fff;
 }
  .payForm {
        position:relative;
        width:95%;
        margin:auto;
        top:50px;
        border:5px solid #192032;
        height:80%!important;
        border-radius:19px;
    }
    .payFormHeader {
        position:relative;
        width:100%;
        margin:auto;
        height:90px;
        top:0px;
        border-top-left-radius:13px;
        border-top-right-radius:13px;
        background:#516599;
        padding-left:15px;
        padding-top:15px;
        clear:both;
    }
    .titleHeader {
        position:relative;
        float:left;
        width:300px;
        top:0px;
        padding-left:10px;
        padding-top:15px;
        clear:both;
    }
    .total{
        position:relative;
        float:right;
        right:30px;
        height:40px;
        width:70px;
        top:-30px;
        background:#192032;
        border-radius:10px;
    }
    .line{
        width: 90%;
        height: 47px;
        border-bottom: 2px solid #ccc;
        position: relative;
        margin:auto;
        top:20px;
    }
    .cardsAccepted{
        position:relative;
        float:left;
        width:200px;
        top:0px;
        left:28px;
        clear:both;
        margin:10px;
    }
    .sectionLabel1{
            position:relative;
            float:left;
            width:220px;
            top:0px;
            left:4%;
            margin:5px;
            clear:both;
            top:0px;
    }
    .year{
        position:relative;
        float:left;
        width:215px;
        top:-12px;
        left:22px;
        margin:8px;
     }
     .month{
        position:relative;
        float:left;
        width:70px;
        top:-12px;
        left:22px;
        margin:8px;
       }
     .cardinfo{
        position:relative;
        margin:auto;
        width:100%;
        clear:both;
        top:0px;
    }
     .cardName{
        position:relative;
        float:left;
        width:94%!important;
        margin:10px;
        left:-6px;
        height:30px;
        clear:both;
        padding-left:14px;
    }
    .cardNo{
        position:relative;
        float:left;
        width:65%!important;
        margin:10px;
        left:4px;
    }
    .cvv{
        position:relative;
        float:left;
        width:70px;
        margin:10px;
        left:0px;
    }
    .expTitle {
        position: relative;
        float: left;
        width: 200px;
        top: 0px;
        left:17px;
        clear: both;
        margin: 10px;
    }
    .expiration {
        position: relative;
        float: left;
        width: 350px;
        top: 0px;
        left: -18px;
        clear: both;
        margin: 10px;
    }
    .line1{
        width: 90%;
        height: 47px;
        border-bottom: 2px solid #ccc;
        position: relative;
        margin:auto;
        top:230px;
    }
    .address{
       
        position:relative;
        margin:auto;
        width:100%;
        clear:both;
        top:0px;
        left:-10px;
    }
    .address1 {

        position:relative;
        float:left;
        width:95%;
        margin:10px;
        left:0px;
        padding-left:14px;
        clear:both;
    
    }
    .city {
        position:relative;
        float:left;
        width:95%;
        margin:10px;
        left:0px;
        padding-left:14px;
        clear:both;
    }
    .zipstate{
        position:relative;
        float:left;
        width:100%!important;
        margin:10px;
        left:-11px;
        clear:both;
        top:-12px;
        
    }
    .zip {
        position:relative;
        float:left;
        width:75px;
        margin:10px;
        left:15px;
        
    }
    .state {
        position:relative;
        float:left;
        width:65%;
        margin:10px;
        left:10px;
    }
    .country {
        position:relative;
        float:left;
        width:95%;
        margin:10px;
        left:0px;
        padding-left:14px;
        clear:both;
    }
     
    .btn{
     position:relative;
     margin:auto;
     height:40px;
     width:180px;
     top:-20px;
     cursor:pointer;
     background:#F0051C;
     border-radius:7px;
     padding-top:5px;
     clear:both;
 }
 .close{
        position:relative;
        float:right;
        width:8px;
        top:-8px;
        color:#fff;
        font-weight:bold;
        font-size:20px;
        right:18px;
    }
    .cover{
        position: fixed;
        top: 0;
        left: 0;
        background-color:#000;
        background: rgba(0,0,0,0.6);
        z-index: 5;
        width: 100% !important;
        height: 100% !important;
        display:none;
 }
 .popup {
         display:none;
         position:absolute;
         left: 0;
         right: 0;
         margin-left: auto;
         margin-right: auto;
         z-index:10;
         top:30%;
         width:300px!important;
         height:60px;
         background: #192032;
         border-radius:5px;
         padding-top:20px;
         z-index:20;
  }
 .processingpopup {
         display:none;
         position:absolute;
         left: 0;
         right: 0;
         margin-left: auto;
         margin-right: auto;
         z-index:10;
         top:30%;
         width:300px!important;
         height:200px;
         background: #192032;
         border-radius:5px;
         padding-top:20px;
         z-index:20;
  }
}

@media screen and (min-width: 481px) and (max-width: 599px) 
{
    .landingMobilePage{
       height:1290px;
       width:100%;
    }
    .desktop{
        display:none;
    }
    .topHeader {
      position:relative;
      margin:auto;
      clear:both;
      width:100%;
      background:#192032;
      height:154px;
      transform:scale(1);
      box-shadow: 0px 0px 8px 2px #000000;
    }
    .landingPage{
       display:none;
    }
    .items {
      position:relative;
      float:left;
      margin:10px;
      font-size:25px;
      font-weight:normal;
      color:#fff;
      cursor:pointer;
      top:30px;
    }
    .menu{
      position:relative;
      float:left;
      margin:10px;
      color:#fff;
      z-index:20;
      top:-15px;
      
  }
  .bottom{
        display:none;
  }
  .footerHeaderMobile{
      position:relative;
      /*bottom:0px !important;*/
      clear:both;
      /*background:#AB1D24;*/
      width:370px!important;
      height:110px;
      margin:auto;
      top:50px;
  }
  .bottomMobile{
       position:relative;
       width:100%;
       bottom:0px !important;
       height:150px!important;
       margin:auto;
       background:#000;
  }
    
  .btnFooter{
     position:relative;
     float:left;
     height:33px;
     width:110px;
     margin:15px;
     cursor:pointer;
     background:#FA0202;
     border-radius:7px;
     padding-top:9px;
 }
 .logo{
     position:relative;
     margin:auto;
     width:400px;
      top:15px;
  }
  .logoSize{
      width:250px;
      height:67px;
  }
  .textMobileFont {
        font-weight: normal;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
        text-rendering: optimizeLegibility !important;
        -webkit-font-smoothing: antialiased !important;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size:12px;
        color:#fff;
 }
  .payForm {
        position:relative;
        width:95%;
        margin:auto;
        top:50px;
        border:5px solid #192032;
        height:80%!important;
        border-radius:19px;
    }
    .payFormHeader {
        position:relative;
        width:100%;
        margin:auto;
        height:90px;
        top:0px;
        border-top-left-radius:13px;
        border-top-right-radius:13px;
        background:#516599;
        padding-left:15px;
        padding-top:15px;
        clear:both;
    }
    .titleHeader {
        position:relative;
        float:left;
        width:300px;
        top:0px;
        padding-left:10px;
        padding-top:15px;
        clear:both;
    }
    .total{
        position:relative;
        float:right;
        right:30px;
        height:40px;
        width:70px;
        top:-30px;
        background:#192032;
        border-radius:10px;
    }
    .line{
        width: 90%;
        height: 47px;
        border-bottom: 2px solid #ccc;
        position: relative;
        margin:auto;
        top:20px;
    }
    .cardsAccepted{
        position:relative;
        float:left;
        width:200px;
        top:0px;
        left:28px;
        clear:both;
        margin:10px;
    }
    .sectionLabel1{
            position:relative;
            float:left;
            width:220px;
            top:0px;
            left:4%;
            margin:5px;
            clear:both;
            top:0px;
    }
    .year{
        position:relative;
        float:left;
        width:215px;
        top:-12px;
        left:22px;
        margin:8px;
     }
     .month{
        position:relative;
        float:left;
        width:70px;
        top:-12px;
        left:22px;
        margin:8px;
       }
     .cardinfo{
        position:relative;
        margin:auto;
        width:100%;
        clear:both;
        top:0px;
    }
     .cardName{
        position:relative;
        float:left;
        width:94%!important;
        margin:10px;
        left:-6px;
        height:30px;
        clear:both;
        padding-left:14px;
    }
    .cardNo{
        position:relative;
        float:left;
        width:65%!important;
        margin:10px;
        left:4px;
    }
    .cvv{
        position:relative;
        float:left;
        width:70px;
        margin:10px;
        left:0px;
    }
    .expTitle {
        position: relative;
        float: left;
        width: 200px;
        top: 0px;
        left:17px;
        clear: both;
        margin: 10px;
    }
    .expiration {
        position: relative;
        float: left;
        width: 350px;
        top: 0px;
        left: -18px;
        clear: both;
        margin: 10px;
    }
    .line1{
        width: 90%;
        height: 47px;
        border-bottom: 2px solid #ccc;
        position: relative;
        margin:auto;
        top:230px;
    }
    .address{
       
        position:relative;
        margin:auto;
        width:100%;
        clear:both;
        top:0px;
        left:-10px;
    }
    .address1 {

        position:relative;
        float:left;
        width:95%;
        margin:10px;
        left:0px;
        padding-left:14px;
        clear:both;
    
    }
    .city {
        position:relative;
        float:left;
        width:95%;
        margin:10px;
        left:0px;
        padding-left:14px;
        clear:both;
    }
    .zipstate{
        position:relative;
        float:left;
        width:100%!important;
        margin:10px;
        left:-11px;
        clear:both;
        top:-12px;
        
    }
    .zip {
        position:relative;
        float:left;
        width:75px;
        margin:10px;
        left:15px;
        
    }
    .state {
        position:relative;
        float:left;
        width:65%;
        margin:10px;
        left:10px;
    }
    .country {
        position:relative;
        float:left;
        width:95%;
        margin:10px;
        left:0px;
        padding-left:14px;
        clear:both;
    }
     
    .btn{
     position:relative;
     margin:auto;
     height:40px;
     width:180px;
     top:-20px;
     cursor:pointer;
     background:#F0051C;
     border-radius:7px;
     padding-top:5px;
     clear:both;
 }
 .close{
        position:relative;
        float:right;
        width:8px;
        top:-8px;
        color:#fff;
        font-weight:bold;
        font-size:20px;
        right:18px;
    }
    .cover{
        position: fixed;
        top: 0;
        left: 0;
        background-color:#000;
        background: rgba(0,0,0,0.6);
        z-index: 5;
        width: 100% !important;
        height: 100% !important;
        display:none;
 }
 .popup {
         display:none;
         position:absolute;
         left: 0;
         right: 0;
         margin-left: auto;
         margin-right: auto;
         z-index:10;
         top:30%;
         width:300px!important;
         height:60px;
         background: #192032;
         border-radius:5px;
         padding-top:20px;
         z-index:20;
  }
 .processingpopup {
         display:none;
         position:absolute;
         left: 0;
         right: 0;
         margin-left: auto;
         margin-right: auto;
         z-index:10;
         top:30%;
         width:300px!important;
         height:200px;
         background: #192032;
         border-radius:5px;
         padding-top:20px;
         z-index:20;
  }
}
@media screen and (min-width: 600px) and (max-width: 767px) 
{
  .landingMobilePage{
       height:1290px;
       width:100%;
    }
    .desktop{
        display:none;
    }
    .topHeader {
      position:relative;
      margin:auto;
      clear:both;
      width:100%;
      background:#192032;
      height:154px;
      transform:scale(1);
      box-shadow: 0px 0px 8px 2px #000000;
    }
    .landingPage{
       display:none;
    }
    .items {
      position:relative;
      float:left;
      margin:10px;
      font-size:25px;
      font-weight:normal;
      color:#fff;
      cursor:pointer;
      top:30px;
    }
    .menu{
      position:relative;
      float:left;
      margin:10px;
      color:#fff;
      z-index:20;
      top:-15px;
      
  }
  .bottom{
        display:none;
  }
  .footerHeaderMobile{
      position:relative;
      /*bottom:0px !important;*/
      clear:both;
      /*background:#AB1D24;*/
      width:370px!important;
      height:110px;
      margin:auto;
      top:50px;
  }
  .bottomMobile{
       position:relative;
       width:100%;
       bottom:0px !important;
       height:150px!important;
       margin:auto;
       background:#000;
  }
    
  .btnFooter{
     position:relative;
     float:left;
     height:33px;
     width:110px;
     margin:15px;
     cursor:pointer;
     background:#FA0202;
     border-radius:7px;
     padding-top:9px;
 }
 .logo{
     position:relative;
     margin:auto;
     width:400px;
      top:15px;
  }
  .logoSize{
      width:250px;
      height:67px;
  }
  .textMobileFont {
        font-weight: normal;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
        text-rendering: optimizeLegibility !important;
        -webkit-font-smoothing: antialiased !important;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size:12px;
        color:#fff;
 }
  .payForm {
        position:relative;
        width:95%;
        margin:auto;
        top:50px;
        border:5px solid #192032;
        height:80%!important;
        border-radius:19px;
    }
    .payFormHeader {
        position:relative;
        width:100%;
        margin:auto;
        height:90px;
        top:0px;
        border-top-left-radius:13px;
        border-top-right-radius:13px;
        background:#516599;
        padding-left:15px;
        padding-top:15px;
        clear:both;
    }
    .titleHeader {
        position:relative;
        float:left;
        width:300px;
        top:0px;
        padding-left:10px;
        padding-top:15px;
        clear:both;
    }
    .total{
        position:relative;
        float:right;
        right:30px;
        height:40px;
        width:70px;
        top:-30px;
        background:#192032;
        border-radius:10px;
    }
    .line{
        width: 90%;
        height: 47px;
        border-bottom: 2px solid #ccc;
        position: relative;
        margin:auto;
        top:20px;
    }
    .cardsAccepted{
        position:relative;
        float:left;
        width:200px;
        top:0px;
        left:28px;
        clear:both;
        margin:10px;
    }
    .sectionLabel1{
            position:relative;
            float:left;
            width:220px;
            top:0px;
            left:4%;
            margin:5px;
            clear:both;
            top:0px;
    }
    .year{
        position:relative;
        float:left;
        width:215px;
        top:-12px;
        left:22px;
        margin:8px;
     }
     .month{
        position:relative;
        float:left;
        width:70px;
        top:-12px;
        left:22px;
        margin:8px;
       }
     .cardinfo{
        position:relative;
        margin:auto;
        width:100%;
        clear:both;
        top:0px;
    }
     .cardName{
        position:relative;
        float:left;
        width:94%!important;
        margin:10px;
        left:-6px;
        height:30px;
        clear:both;
        padding-left:14px;
    }
    .cardNo{
        position:relative;
        float:left;
        width:65%!important;
        margin:10px;
        left:4px;
    }
    .cvv{
        position:relative;
        float:left;
        width:70px;
        margin:10px;
        left:0px;
    }
    .expTitle {
        position: relative;
        float: left;
        width: 200px;
        top: 0px;
        left:17px;
        clear: both;
        margin: 10px;
    }
    .expiration {
        position: relative;
        float: left;
        width: 350px;
        top: 0px;
        left: -18px;
        clear: both;
        margin: 10px;
    }
    .line1{
        width: 90%;
        height: 47px;
        border-bottom: 2px solid #ccc;
        position: relative;
        margin:auto;
        top:230px;
    }
    .address{
       
        position:relative;
        margin:auto;
        width:100%;
        clear:both;
        top:0px;
        left:-10px;
    }
    .address1 {

        position:relative;
        float:left;
        width:95%;
        margin:10px;
        left:0px;
        padding-left:14px;
        clear:both;
    
    }
    .city {
        position:relative;
        float:left;
        width:95%;
        margin:10px;
        left:0px;
        padding-left:14px;
        clear:both;
    }
    .zipstate{
        position:relative;
        float:left;
        width:100%!important;
        margin:10px;
        left:-11px;
        clear:both;
        top:-12px;
        
    }
    .zip {
        position:relative;
        float:left;
        width:75px;
        margin:10px;
        left:15px;
        
    }
    .state {
        position:relative;
        float:left;
        width:65%;
        margin:10px;
        left:10px;
    }
    .country {
        position:relative;
        float:left;
        width:95%;
        margin:10px;
        left:0px;
        padding-left:14px;
        clear:both;
    }
     
    .btn{
     position:relative;
     margin:auto;
     height:40px;
     width:180px;
     top:-20px;
     cursor:pointer;
     background:#F0051C;
     border-radius:7px;
     padding-top:5px;
     clear:both;
 }
 .close{
        position:relative;
        float:right;
        width:8px;
        top:-8px;
        color:#fff;
        font-weight:bold;
        font-size:20px;
        right:18px;
    }
    .cover{
        position: fixed;
        top: 0;
        left: 0;
        background-color:#000;
        background: rgba(0,0,0,0.6);
        z-index: 5;
        width: 100% !important;
        height: 100% !important;
        display:none;
 }
 .popup {
         display:none;
         position:absolute;
         left: 0;
         right: 0;
         margin-left: auto;
         margin-right: auto;
         z-index:10;
         top:30%;
         width:300px!important;
         height:60px;
         background: #192032;
         border-radius:5px;
         padding-top:20px;
         z-index:20;
  }
 .processingpopup {
         display:none;
         position:absolute;
         left: 0;
         right: 0;
         margin-left: auto;
         margin-right: auto;
         z-index:10;
         top:30%;
         width:300px!important;
         height:200px;
         background: #192032;
         border-radius:5px;
         padding-top:20px;
         z-index:20;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) 
{
   .landingMobilePage{
       height:1290px;
       width:100%;
    }
    .desktop{
        display:none;
    }
    .topHeader {
      position:relative;
      margin:auto;
      clear:both;
      width:100%;
      background:#192032;
      height:154px;
      transform:scale(1);
      box-shadow: 0px 0px 8px 2px #000000;
    }
    .landingPage{
       display:none;
    }
    .items {
      position:relative;
      float:left;
      margin:10px;
      font-size:25px;
      font-weight:normal;
      color:#fff;
      cursor:pointer;
      top:30px;
    }
    .menu{
      position:relative;
      float:left;
      margin:10px;
      color:#fff;
      z-index:20;
      top:-15px;
      
  }
  .bottom{
        display:none;
  }
  .footerHeaderMobile{
      position:relative;
      /*bottom:0px !important;*/
      clear:both;
      /*background:#AB1D24;*/
      width:370px!important;
      height:110px;
      margin:auto;
      top:50px;
  }
  .bottomMobile{
       position:relative;
       width:100%;
       bottom:0px !important;
       height:150px!important;
       margin:auto;
       background:#000;
  }
    
  .btnFooter{
     position:relative;
     float:left;
     height:33px;
     width:110px;
     margin:15px;
     cursor:pointer;
     background:#FA0202;
     border-radius:7px;
     padding-top:9px;
 }
 .logo{
     position:relative;
     margin:auto;
     width:400px;
      top:15px;
  }
  .logoSize{
      width:250px;
      height:67px;
  }
  .textMobileFont {
        font-weight: normal;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
        text-rendering: optimizeLegibility !important;
        -webkit-font-smoothing: antialiased !important;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size:12px;
        color:#fff;
 }
  .payForm {
        position:relative;
        width:95%;
        margin:auto;
        top:50px;
        border:5px solid #192032;
        height:80%!important;
        border-radius:19px;
    }
    .payFormHeader {
        position:relative;
        width:100%;
        margin:auto;
        height:90px;
        top:0px;
        border-top-left-radius:13px;
        border-top-right-radius:13px;
        background:#516599;
        padding-left:15px;
        padding-top:15px;
        clear:both;
    }
    .titleHeader {
        position:relative;
        float:left;
        width:300px;
        top:0px;
        padding-left:10px;
        padding-top:15px;
        clear:both;
    }
    .total{
        position:relative;
        float:right;
        right:30px;
        height:40px;
        width:70px;
        top:-30px;
        background:#192032;
        border-radius:10px;
    }
    .line{
        width: 90%;
        height: 47px;
        border-bottom: 2px solid #ccc;
        position: relative;
        margin:auto;
        top:20px;
    }
    .cardsAccepted{
        position:relative;
        float:left;
        width:200px;
        top:0px;
        left:28px;
        clear:both;
        margin:10px;
    }
    .sectionLabel1{
            position:relative;
            float:left;
            width:220px;
            top:0px;
            left:4%;
            margin:5px;
            clear:both;
            top:0px;
    }
    .year{
        position:relative;
        float:left;
        width:215px;
        top:-12px;
        left:22px;
        margin:8px;
     }
     .month{
        position:relative;
        float:left;
        width:70px;
        top:-12px;
        left:22px;
        margin:8px;
       }
     .cardinfo{
        position:relative;
        margin:auto;
        width:100%;
        clear:both;
        top:0px;
    }
     .cardName{
        position:relative;
        float:left;
        width:94%!important;
        margin:10px;
        left:-6px;
        height:30px;
        clear:both;
        padding-left:14px;
    }
    .cardNo{
        position:relative;
        float:left;
        width:65%!important;
        margin:10px;
        left:4px;
    }
    .cvv{
        position:relative;
        float:left;
        width:70px;
        margin:10px;
        left:0px;
    }
    .expTitle {
        position: relative;
        float: left;
        width: 200px;
        top: 0px;
        left:17px;
        clear: both;
        margin: 10px;
    }
    .expiration {
        position: relative;
        float: left;
        width: 350px;
        top: 0px;
        left: -18px;
        clear: both;
        margin: 10px;
    }
    .line1{
        width: 90%;
        height: 47px;
        border-bottom: 2px solid #ccc;
        position: relative;
        margin:auto;
        top:230px;
    }
    .address{
       
        position:relative;
        margin:auto;
        width:100%;
        clear:both;
        top:0px;
        left:-10px;
    }
    .address1 {

        position:relative;
        float:left;
        width:95%;
        margin:10px;
        left:0px;
        padding-left:14px;
        clear:both;
    
    }
    .city {
        position:relative;
        float:left;
        width:95%;
        margin:10px;
        left:0px;
        padding-left:14px;
        clear:both;
    }
    .zipstate{
        position:relative;
        float:left;
        width:100%!important;
        margin:10px;
        left:-11px;
        clear:both;
        top:-12px;
        
    }
    .zip {
        position:relative;
        float:left;
        width:75px;
        margin:10px;
        left:15px;
        
    }
    .state {
        position:relative;
        float:left;
        width:65%;
        margin:10px;
        left:10px;
    }
    .country {
        position:relative;
        float:left;
        width:95%;
        margin:10px;
        left:0px;
        padding-left:14px;
        clear:both;
    }
     
    .btn{
     position:relative;
     margin:auto;
     height:40px;
     width:180px;
     top:-20px;
     cursor:pointer;
     background:#F0051C;
     border-radius:7px;
     padding-top:5px;
     clear:both;
 }
 .close{
        position:relative;
        float:right;
        width:8px;
        top:-8px;
        color:#fff;
        font-weight:bold;
        font-size:20px;
        right:18px;
    }
    .cover{
        position: fixed;
        top: 0;
        left: 0;
        background-color:#000;
        background: rgba(0,0,0,0.6);
        z-index: 5;
        width: 100% !important;
        height: 100% !important;
        display:none;
 }
 .popup {
         display:none;
         position:absolute;
         left: 0;
         right: 0;
         margin-left: auto;
         margin-right: auto;
         z-index:10;
         top:30%;
         width:300px!important;
         height:60px;
         background: #192032;
         border-radius:5px;
         padding-top:20px;
         z-index:20;
  }
 .processingpopup {
         display:none;
         position:absolute;
         left: 0;
         right: 0;
         margin-left: auto;
         margin-right: auto;
         z-index:10;
         top:30%;
         width:300px!important;
         height:200px;
         background: #192032;
         border-radius:5px;
         padding-top:20px;
         z-index:20;
  }
}
@media screen and (min-width: 1024px) 
{
   .landingPage{
       height:1600px;
       width:100%;
  }
   .landingMobilePage{
       display:none;
   }
  .pizzaSize{
      width:200px;
  }
  .tabCircleOrder{
       position:relative;
       margin:auto;
       top:140px;
       clear:both;
       width:70%;
   }
   .circleSelect{
       position:relative;
       float:left;
       margin:12%!important;
       width:80px;
       height:80px;
       border-radius:50%;
       background:#192032;
   }
   .circleUnSelect{
       position:relative;
       float:left;
       margin:12%!important;
       width:80px;
       height:80px;
       border-radius:50%;
       background:#707370;
   }
   /*
   .tabOrder{
       position:relative;
       margin:auto;
       top:120px;
       height:80px;
       clear:both;
       width:75%!important;
   }*/
   .tabOrder{
       position:relative;
       margin:auto;
       top:50px;
       clear:both;
       left:12.5%;
       width:90%!important;
       height:80px;
   }
   .tabSelect{
       position:relative;
       float:left;
       margin:1px;
       width:24%!important;
       height:80px;
       background:#192032;
       cursor:pointer;
   }
   .tabUnSelect{
       position:relative;
       float:left;
       margin:1px;
       width:24%!important;
       height:80px;
       background:#707370;
       cursor:pointer;
   }
   .stepContainer{
       position:relative;
       margin:auto;
       top:65px;
       clear:both;
       width:65%!important;
       background:#fff;
       border-radius:15px;
       height:480px;
   }
   .step{
       position:relative;
       margin:auto;
       clear:both;
       top:100px;
       height:60px;
       height:300px;
       width:40%!important;
   }
   .step2{
       position:relative;
       margin:auto;
       clear:both;
       top:40px;
       height:300px;
       width:100%!important;
   }
   .step3{
       position:relative;
       margin:auto;
       clear:both;
       top:30px;
       height:300px;
       width:100%!important;
   }
   .basicTop1{
       position:relative;
       margin:10px;
       float:left;
       left:20px;
       width:200px!important;
   }
   .basicTop2{
       position:relative;
       margin:10px;
       float:right;
       right:-2px;
       width:200px!important;
   }
   .extraTop{
       position:relative;
       margin:10px;
       float:right;
       right:35px;
       width:200px!important;
   }
   .basicContainer{
       position:relative;
       margin:2px;
       float:left;
       left:20px;
       top:-30px;
       width:440px!important;
   }
   .extrasContainer{
       position:relative;
       margin:2px;
       float:right;
       right:0px;
       top:-30px;
       width:270px!important;
   }
   .ui-btn.ui-corner-none {
    border-radius: 0;
   }
   .title {
      background:#707370;
      width:65%!important;
      height:55px;
      margin:auto;
      border-radius:10px;
      clear:both;
      top:145px;
      position:relative;
  }
  .fields{
      position:relative;
      float:left;
      clear:both;
      margin:10px;
      width:400px;
      height:35px;
  }
  .headerSize {
      width:383px;
      height:121px;
  }
  .topHeader{
      position:relative;
      float:left;
      clear:both;
      width:100%;
      background:#192032;
      height:154px;
      transform:scale(1);
      box-shadow: 0px 0px 8px 2px #000000;
  }
  .logo{
      position:relative;
      float:left;
      margin:10px;
      top:-33px;
  }
  .logoSize{
      width:400px;
      height:107px;
  }
  .menu{
      position:relative;
      float:left;
      margin:10px;
      color:#fff;
      z-index:20;
     
  }
  .fieldproperty{
      font-size:14px;
  }
  .textFont
{
    font-weight:normal;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
     -webkit-font-smoothing: antialiased !important;
     font-family:   'Agency FB';
  }
  
.items {
      position:relative;
      float:left;
      margin:10px;
      font-size:25px;
      font-weight:normal;
      color:#fff;
      cursor:pointer;
      top:60px;
  }
  
  .order{
      position:relative;
      margin:auto;
      width:300px;
      clear:both;
      z-index:20;
      height:55px;
      background-size:cover; 
  }
  .catClass{

      position:relative;
      top:60px;
      
  }
 
  .orderHere {
      position:relative;
      margin:auto;
      width:195px;
      font-size:30px;
      color:#477847;
      top:-20px;
     
    }
  .labelBasic {
      position:relative;
      margin:auto;
      width:214px;
      color:#477847;
     
    }
      .condition {
      position:relative;
      float:left;
      margin:10px;
      width:77px;
      font-size:30px;
      color:#477847;
      left:10px;
      top:50px;
    }

    .delivery{
        position:relative;
        float:left;
        width:90px;
        height:90px;
        background:#192032;
        color:#fff;
        top:35px;
        padding-top:33px;
        font-size:20px;
        border-radius:50%;
       
    }
    .deliveryClick{
        position:relative;
        float:left;
        width:90px;
        height:90px;
        background:#192032;
        color:#fff;
        top:35px;
        padding-top:27px;
        font-size:20px;
        border-radius:50%;
        border:5px solid #428A42;
        
    }
    .carryOut{
         position:relative;
        float:left;
        width:89px;
        height:90px;
        background:#192032;
        color:#fff;
        top:35px;
        padding-top:33px;
        font-size:20px;
        border-radius:50%;
       
    }
    .carryOutClick{
         position:relative;
        float:left;
        width:90px;
        height:90px;
        background:#192032;
        color:#fff;
        top:35px;
        padding-top:27px;
        font-size:20px;
        border-radius:50%;
        border:5px solid #428A42;
       
    }
    
    
     .signinText{
        position:relative;
        float:left;
        margin:10px;
        top:20px;
    }
    .signtext {
      position:relative;
      float:left;
      margin:10px;
      font-size:20px;
      font-weight:bold;
      color:#fff;
      cursor:pointer;
      top:30px;
  }
    .signin{
        position:relative;
        float:right;
        right:150px;
        margin:10px;
        top:-44px;
        background:#556285;
        width:200px;
        height:154px;
       
    }
    .signinLogo{
        position:relative;
        float:left;
        margin:10px;
        top:30px;
    }
 .lunch {
     position:relative;
     float:left;
     top:250px;
     margin:0px;
     width:33.33%!important;
     margin:0px;
 }
 .outerWidth{
     width:1100px!important;
 }
 .pizza {
     position:relative;
     float:right;
     top:250px;
     width:33.33%!important;
     margin:0px;

 }
 .drinks {
     position:relative;
     float:left;
     top:250px;
     margin:0px;
     width:33.33%!important;
     margin:0px;

 }
 .foodType{
     width:350px;
     height:142px;
 }
 .downloadTop{
     position:absolute;
     float:right;
     margin:10px;
     right:40px;
     top:0px;
 }

 
.pizzaCnt {
    position:relative;
    clear:both;
    margin:auto;
    width:80px;
    height:40px;
 }
 .newPizza {
    position:relative;
    float:left;
    clear:both;
    margin:10px;
    width:200px;
    height:40px;
    
 }
 .toCart{
    position:relative;
    float:left;
    clear:both;
    margin:10px;
    width:230px;
    height:40px;
    left:-10px;
    
 }
 .addtocart{
    position:absolute;
    float:right;
    clear:both;
    margin:10px;
    right:0px;
    width:230px;
    height:200px;
    top:160px;
    border:2px solid #428A42;  
    border-radius:10px;
    background:#707370;
 }
 .opPizza{
     position:relative;
     border-radius:50%;
     height:40px;
     width:40px;
     float:left;
     margin:7px;
     top:10px;
     background:#F0051C;
     cursor:pointer;
 }
 .btn{
     position:relative;
     float:left;
     margin:15px;
     height:40px;
     width:180px;
     left:340px;
     top:209px;
     cursor:pointer;
     background:#F0051C;
     border-radius:7px;
     padding-top:5px;
     clear:both;
 }
 .cover{
        position: fixed;
        top: 0;
        left: 0;
        background-color:#000;
        background: rgba(0,0,0,0.6);
        z-index: 5;
        width: 100% !important;
        height: 100% !important;
        display:none;
 }
 .popup {
         display:none;
         position:absolute;
         left: 0;
         right: 0;
         margin-left: auto;
         margin-right: auto;
         z-index:10;
         top:30%;
         width:20%!important;
         height:60px;
         background: #192032;
         border-radius:5px;
         z-index:20;
  }
  .close{
        position:relative;
        float:right;
        width:8px;
        top:-2px;
        color:#fff;
        font-weight:bold;
        font-size:20px;
        right:18px;

    }
    .centreButtonObject{
         position:relative;
         margin:auto;
         width:220px;
         top:50px;
    }
    .shoppingList{
        position:relative;
        margin:auto;
        clear:both;
        width:75%;
        top:160px;
        height:600px;
    }
    .divlist{
        position:relative;
        float:left;
        margin:10px;
        font-size:15px;
        width:30%;
    }
    .gtotal{
        position:relative;
        float:left;
        margin:10px;
        clear:both;
        top:150px;
        left:12%;
    }
    .payForm {
        position:relative;
        width:70%;
        margin:auto;
        top:200px;
        border:5px solid #192032;
        height:75%!important;
        border-radius:19px;
    }
    .payFormHeader {
        position:relative;
        width:100%;
        margin:auto;
        height:90px;
        top:-150px;
        border-top-left-radius:15px;
        border-top-right-radius:15px;
        background:#516599;
        padding-left:15px;
        padding-top:15px;
        clear:both;
    }
    .titleHeader {
        position:relative;
        float:left;
        width:300px;
        top:-135px;
        padding-left:30px;
        padding-top:15px;
        clear:both;
    }
    .line{
        width: 95%;
        height: 47px;
        border-bottom: 1px solid #ccc;
        position: relative;
        margin:auto;
        top:-90px;
    }
    .total{
        position:relative;
        float:right;
        right:50px;
        height:60px;
        width:200px;
        top:-135px;
        background:#192032;
        border-radius:10px;
    }
    .cardinfo{
        position:relative;
        margin:auto;
        width:58%;
        clear:both;
        top:-80px;
    }
    .cardNo{
        position:relative;
        float:left;
        width:65%!important;
        margin:10px;
        left:12px;
    }
    .cvv{
        position:relative;
        float:left;
        width:100px;
        margin:10px;
        left:10px;
    }
    .cardName{
        position:relative;
        float:left;
        width:90%!important;
        margin:10px;
        left:10px;
        padding-left:14px;
    }
    .address{
       
        position:relative;
        margin:auto;
        width:58%;
        clear:both;
        top:-80px;
   
    }
    .zip {
        position:relative;
        float:left;
        width:120px;
        margin:6px;
        left:15px;
        
    }
    .state {
        position:relative;
        float:left;
        width:68%;
        margin:6px;
        left:10px;
    }
  
    .zipstate{
        position:relative;
        float:left;
        width:92%!important;
        margin:10px;
        left:3px;
        clear:both;
        top:-5px;
    }
    .city {
        position:relative;
        float:left;
        width:90%;
        margin:10px;
        left:10px;
        padding-left:14px;
        clear:both;
    }
    .country {
        position:relative;
        float:left;
        width:99%;
        margin:10px;
        left:-5px;
        padding-left:14px;
        clear:both;
    }
    .address1 {

        position:relative;
        float:left;
        width:90%;
        margin:10px;
        left:10px;
        padding-left:14px;
        clear:both;
    
    }
    .cardsAccepted{
        position:relative;
        float:left;
        width:200px;
        top:-90px;
        left:28px;
        clear:both;
        margin:10px;
    }
    .expiration {
        position: relative;
        float: left;
        width: 290px;
        top: -10px;
        left: 0px;
        clear: both;
        margin: 10px;
    }
    .expTitle {
        position: relative;
        float: left;
        width: 200px;
        top: -10px;
        left:17px;
        clear: both;
        margin: 10px;
    }
    .year{
        position:relative;
        float:left;
        width:170px;
        top:-12px;
        left:22px;
        margin:5px;
     }
     .month{
        position:relative;
        float:left;
        width:100px;
        top:-12px;
        left:22px;
        margin:5px;
       }
       .sectionLabel1{
            position:relative;
            float:left;
            width:220px;
            top:0px;
            left:2%;
            margin:5px;
            clear:both;
            top:-80px;
        }
        .line1{
        width: 95%;
        height: 47px;
        border-bottom: 1px solid #ccc;
        position: relative;
        margin:auto;
        top:190px;
       }
        .send{
         position:relative;
         margin:auto;
         height:50px;
         width:220px;
         top:-50px;
         left:40%!important;
         padding-top:5px;
         cursor:pointer;
         background:#F0051C;
         border-radius:7px;
         padding-top:5px;
         clear:both;
    }
    .email{
        position:relative;
        float:left;
        width:90%;
        margin:10px;
        left:10px;
        padding-left:14px;
        clear:both;
    }
    .footerHeaderMobile{
      display:none;
    }
    .bottomMobile{
       display:none;
    }
    .processingpopup {
         display:none;
         position:absolute;
         left: 0;
         right: 0;
         margin-left: auto;
         margin-right: auto;
         z-index:10;
         top:30%;
         width:300px!important;
         height:200px;
         background: #192032;
         border-radius:5px;
         padding-top:20px;
         z-index:20;
  }
}